<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="manager" class="com.stackroute.Domain.Manager"  >
        <constructor-arg index="0" value="1"></constructor-arg>
        <constructor-arg index="1" value="Shiv"></constructor-arg>
<!--        <constructor-arg index="2" ref="surveyor"></constructor-arg>-->
    <property name="surveyor" ref="surveyor"></property>
    </bean>
    <bean id="surveyor" class="com.stackroute.Domain.Surveyor" autowire="byType">
        <property name="id" value="1" ></property>
        <property name="name" value="Singh"></property>
    </bean>



</beans>